/* -------------------------------header---------------- */
.fixed {
  position: fixed;
  width: 100%;
  top: -125px;
  z-index: 101;
}
.w1200 {
  max-width: 1200px;
  margin: auto;
}
.h_top {
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.hd_wrap {
  display: flex;
  padding-top: 30px;
  padding-left: 65px;
}
.hd_wrap > li {
  min-width: 110px;
  height: 30px;
  line-height: 28px;
  padding: 0 5px;
  border: 1px solid #2f6bb1;
  box-sizing: border-box;
  text-align: center;
}
.hd_wrap > li:nth-child(1) {
  border: 1px solid #ee0f62;
}
.hd_wrap > li:nth-child(3) {
  border: 1px solid #ffc000;
}
.hd_wrap > li:nth-child(4) {
  border: 1px solid #555;
}

.hd_wrap > li:not(:last-of-type) {
  margin-right: 12px;
}
.hd_wrap > li > a {
  font-size: 14px;
  color: #000;
}
.logo {
  position: absolute;
  display: block;
  width: 227px;
  height: 65px;
  top: 26px;
  left: 50%;
  font-size: 0;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate(-50%, 0);
  z-index: 1;
}
.logo_nav {
  position: absolute;
  display: none;
  background-image: url(../img//logo2.png);
  background-size: cover;
  width: 139px;
  height: 40px;
  left: 25px;
  bottom: 22px;
}
.util_nav {
  padding: 37px 54px 0 0;
  display: flex;
}
.zoomer > ul {
  display: flex;
  border: 1px solid #bebebe;
}
.zoomer li {
  position: relative;
  width: 28px;
  height: 23px;
}
.zoomer li a::after {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 23px;
  color: #a6a8ab;
  text-align: center;
  font-size: 13px;
}
.zoomer li a.in::after {
  content: "A+";
}
.zoomer li a.def::after {
  content: "A";
}
.zoomer li a.out::after {
  content: "A-";
}
.zoomer li:not(:last-of-type) {
  border-right: 1px solid #bebebe;
}
.login {
  margin: 3px 38px 0 30px;
}
.login > a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  min-height: 20px;
}

.form {
  display: none;
}
.form_r {
  display: none;
}
.search a {
  margin-top: 6px;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url(../img/icn_search.png);
  background-repeat: no-repeat;
  font-size: 0;
  background-position: right;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.h_nav {
  width: 100%;
  position: sticky;
  top: 125px;
  z-index: 100;
  transition: 0.2s;
}
.h_nav > ul {
  width: 70%;
  max-width: 1200px;
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: 0 auto;
}
.h_nav li {
  vertical-align: top;
  width: 16.666666%;
  height: 100%;
  padding: 12px 5px;
  text-align: center;
  box-sizing: border-box;
}
.nav_stic > li > a {
  display: block;
  width: 100%;
  height: auto;
  padding: 7px 0;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  box-sizing: border-box;
}
.h_view {
  display: block;
  width: 26px;
  position: absolute;
  height: 20px;
  font-size: 0;
  right: 54px;
  top: 26px;
}
.h_view > span {
  position: absolute;
  display: block;
  height: 2px;
  right: 0;
  transition: width 0.3s ease;
  background-color: black;
}
.h_nav .h_view:hover span {
  width: 100%;
}
.h_view > span:nth-of-type(1) {
  width: 24px;
  top: 0;
}
.h_view > span:nth-of-type(2) {
  width: 21px;
  top: 9px;
}
.h_view span:nth-of-type(3) {
  width: 15px;
  top: 18px;
}
/* --------------------------------------------------------------------- */
footer {
  width: 100%;
  background-color: #333;
}
.f_top {
  border-bottom: 1px solid #717171;
}
.f_top > ul {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
}
.f_top > ul > li {
  width: 200px;
  text-align: center;
}
.f_top > ul a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
.f_top > ul .btn_b {
  display: inline-block;
  width: 130px;
  padding: 2px 0;
  border: 1px solid #51b5ff;
  border-radius: 20px;
  color: #51b5ff;
}
.f_bot h1 {
  width: 200px;
  height: 100px;
}
.f_bot > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_mark {
  display: flex;
  width: 189px;

  justify-content: space-between;
}
address {
  width: calc(100% - 340px);
}
address span {
  display: inline-block;
  color: #fff;
  padding: 12px 0;
  font-size: 14px;
}
address li {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
@media only screen and (max-width: 1200px) {
  .w1200 {
    max-width: 1200px;
  }
  /* --------------------------------------------------------- */
  .fixed {
    top: -90px;
    background: black;
  }
  .h_top {
    display: block;
    position: relative;
    height: 120px;
  }
  .hd_wrap {
    padding-top: 8px;
    justify-content: center;
  }
  .hd_wrap > li {
    width: 30%;
    max-width: 150px;
    height: 25px;
    line-height: 23px;
  }
  .hd_wrap > li > a {
    font-size: 12px;
  }
  .logo {
    width: 114px;
    height: 33px;
    top: 54px;
    left: 12px;
    transform: none;
  }
  .util_nav {
    display: block;
    padding: 0;
    float: right;
  }
  .zoomer {
    display: none;
  }
  .login {
    position: absolute;
    margin-right: 11px;
    top: 50%;
    right: 0;
  }
  .nav_stic {
    padding-bottom: 40px;
    position: relative;
  }
  .nav_stic > li {
    display: none;
  }
  .h_view {
    position: absolute;
    top: 0;
    right: 13px;
  }
  .h_view > span:nth-of-type(1) {
    width: 24px;
    top: 0;
  }
  .h_view > span:nth-of-type(2) {
    width: 18px;
    top: 6px;
  }
  .h_view span:nth-of-type(3) {
    width: 12px;
    top: 12px;
  }
  .search {
    display: block;
    position: relative;
  }
  .search > a {
    display: none;
  }
  .form {
    position: absolute;
    display: block;
    width: 266px;
    right: 50px;
    top: 114px;
    border: 1px solid #d2d2d2;
    border-radius: 26px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 200;
  }
  .form > input {
    border: none;
    margin-left: 10px;
  }
  .form > a {
    display: block;
    float: right;
    width: 26px;
    height: 26px;
    background-image: url(../img/icn_search.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .form_r {
    border: 0;
    background: none;
    outline: none;
    width: 85%;
    margin-left: 10px;
    box-sizing: border-box;
  }
  /* -----------------------------------------------------------f */
  .f_top > ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 0;
  }
  .f_top > ul > li {
    width: 33%;
    margin: 5px 0;
  }
  .f_top > ul > li > a {
    font-size: 22px;
  }
  .f_bot > div {
    position: relative;
  }
  address {
    width: 100%;
    position: absolute;
    left: 8px;
    top: 8px;
    margin-bottom: 20px;
  }
  address span {
    display: block;
    padding: 2px 0;
    text-align: center;
  }
  .w1200 > h1 {
    padding: 10px;
  }
  .f_mark {
    width: 18%;
  }
}
@media only screen and (max-width: 768px) {
  .hd_wrap {
    display: none;
  }
}
